<a href="https://colab.research.google.com/github/erickgt00/MLMCD/blob/main/Tarea%206.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tarea 6

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
import warnings
from prettytable import PrettyTable

warnings.filterwarnings('ignore')

Leeremos ambos archivos, el test y el train para llevar a cabo la comparación y así elegir el mejor modelo.

In [2]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

Tomamos únicamente las variables de ínteres

In [3]:
train_df = train_df[['ID','Loan Amount','Term','Interest Rate','Grade','Loan Status']]
train_df.head()

         ID  Loan Amount  Term  Interest Rate  Grade  Loan Status
0  65087372        10000    59      11.135007      2            0
1   1450153         3609    59      12.237563      3            0
2   1969101        28276    59      12.545884      6            0
3   6651430        11170    59      16.731201      3            0
4  14354669        16890    59      15.008300      3            0

In [4]:
print(train_df.iloc[:10].to_latex(index=False))

\begin{tabular}{rrrrrr}
\toprule
      ID &  Loan Amount &  Term &  Interest Rate &  Grade &  Loan Status \\
\midrule
65087372 &        10000 &    59 &      11.135007 &      2 &            0 \\
 1450153 &         3609 &    59 &      12.237563 &      3 &            0 \\
 1969101 &        28276 &    59 &      12.545884 &      6 &            0 \\
 6651430 &        11170 &    59 &      16.731201 &      3 &            0 \\
14354669 &        16890 &    59 &      15.008300 &      3 &            0 \\
50509046 &        34631 &    36 &      17.246986 &      2 &            0 \\
32737431 &        30844 &    59 &      10.731432 &      3 &            0 \\
63151650 &        20744 &    58 &      13.993688 &      1 &            0 \\
 4279662 &         9299 &    59 &      11.178457 &      7 &            0 \\
 4431034 &        19232 &    58 &       5.520413 &      3 &            0 \\
\bottomrule
\end{tabular}

In [5]:
test_df = test_df[['ID','Loan Amount','Term','Interest Rate','Grade']]
test_df.head()

         ID  Loan Amount  Term  Interest Rate  Grade
0  56492997        17120    59      12.163926      1
1  22540813         7133    59       6.564296      2
2   9862181        25291    59      14.729900      1
3  10097822        30781    59      10.523767      1
4  47771809         8878    58       9.997013      3

Haremos pruebas para los siguientes modelos:
* Logistic Regression
* KNN or k-Nearest Neighbors
* Support Vector Machines
* Naive Bayes classifier
* Decision Tree
* Random Forrest
* Perceptron
* Artificial neural network
* RVM or Relevance Vector Machine

In [6]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [7]:
X_train = train_df.drop("Loan Status", axis=1)
Y_train = train_df["Loan Status"]
X_test  = test_df
X_train.shape, Y_train.shape, X_test.shape

((67463, 5), (67463,), (28913, 5))

In [8]:
# Logistic Regression

logreg = LogisticRegression()
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)
acc_log = round(logreg.score(X_train, Y_train) * 100, 2)
acc_log

90.75

In [9]:
# Support Vector Machines

svc = SVC()
svc.fit(X_train, Y_train)
Y_pred = svc.predict(X_test)
acc_svc = round(svc.score(X_train, Y_train) * 100, 2)
acc_svc

90.75

In [10]:
# k-Nearest Neighbors
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, Y_train)
Y_pred = knn.predict(X_test)
acc_knn = round(knn.score(X_train, Y_train) * 100, 2)
acc_knn

91.5

In [11]:
# Gaussian Naive Bayes

gaussian = GaussianNB()
gaussian.fit(X_train, Y_train)
Y_pred = gaussian.predict(X_test)
acc_gaussian = round(gaussian.score(X_train, Y_train) * 100, 2)
acc_gaussian

90.75

In [12]:
# Perceptron

perceptron = Perceptron()
perceptron.fit(X_train, Y_train)
Y_pred = perceptron.predict(X_test)
acc_perceptron = round(perceptron.score(X_train, Y_train) * 100, 2)
acc_perceptron

90.75

In [13]:
# Linear SVC

linear_svc = LinearSVC()
linear_svc.fit(X_train, Y_train)
Y_pred = linear_svc.predict(X_test)
acc_linear_svc = round(linear_svc.score(X_train, Y_train) * 100, 2)
acc_linear_svc

90.75

In [14]:
# Stochastic Gradient Descent

sgd = SGDClassifier()
sgd.fit(X_train, Y_train)
Y_pred = sgd.predict(X_test)
acc_sgd = round(sgd.score(X_train, Y_train) * 100, 2)
acc_sgd

9.25

In [15]:
# Decision Tree

decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, Y_train)
Y_pred = decision_tree.predict(X_test)
acc_decision_tree = round(decision_tree.score(X_train, Y_train) * 100, 2)
acc_decision_tree

100.0

In [16]:
# Random Forest

random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)
acc_random_forest

100.0

En resumen:

In [22]:
models = pd.DataFrame({
    'Model': ['Support Vector Machines', 'KNN', 'Logistic Regression', 
              'Random Forest', 'Naive Bayes', 'Perceptron', 
              'Stochastic Gradient Decent', 'Linear SVC', 
              'Decision Tree'],
    'Score': [acc_svc, acc_knn, acc_log, 
              acc_random_forest, acc_gaussian, acc_perceptron, 
              acc_sgd, acc_linear_svc, acc_decision_tree]})
models.sort_values(by='Score', ascending=False)

                        Model   Score
3               Random Forest  100.00
8               Decision Tree  100.00
1                         KNN   91.50
0     Support Vector Machines   90.75
2         Logistic Regression   90.75
4                 Naive Bayes   90.75
5                  Perceptron   90.75
7                  Linear SVC   90.75
6  Stochastic Gradient Decent    9.25

In [21]:
print(models.sort_values(by='Score', ascending=False).to_latex(index=False))

\begin{tabular}{lr}
\toprule
                     Model &  Score \\
\midrule
             Random Forest & 100.00 \\
             Decision Tree & 100.00 \\
                       KNN &  91.50 \\
   Support Vector Machines &  90.75 \\
       Logistic Regression &  90.75 \\
               Naive Bayes &  90.75 \\
                Perceptron &  90.75 \\
                Linear SVC &  90.75 \\
Stochastic Gradient Decent &   9.25 \\
\bottomrule
\end{tabular}

Podemos concluir que el mejor modelo es el de Decision Tree con un 100% de precisión.

In [ ]:
# Aqui solo descargo el archivo de mi predicción c:
submission = pd.DataFrame({
        "ID": test_df["ID"],
        "Loan Status": Y_pred
    })
submission.to_csv('/content/salida/subminssion.csv', index=False)