<a href="https://colab.research.google.com/github/erickgt00/MLMCD/blob/main/TAREA_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## TAREA EN CLASE 2

* Cargar conjunto de datos mediante pandas

* Especificar el tipo de datos de cada columna

* Si es necesario, asignar una columna como índice

In [1]:
import pandas as pd
from IPython.display import Markdown

In [3]:
datos = pd.read_csv('test.csv')
df_datos = pd.DataFrame(datos)

In [8]:
df_datos

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,56492997,17120,10365,16025.082690,59,BAT2575549,12.163926,A,D1,RENT,...,8.425776,0.731797,0,INDIVIDUAL,135,0,24,475442,4364,NaN
1,22540813,7133,11650,12615.795600,59,BAT2833642,6.564296,B,E3,MORTGAGE,...,6.157008,0.992918,0,INDIVIDUAL,56,0,1,72412,2573,NaN
2,9862181,25291,25825,11621.280830,59,BAT1761981,14.729900,A,C3,MORTGAGE,...,5.705077,0.281580,0,INDIVIDUAL,3,0,26,284825,19676,NaN
3,10097822,30781,9664,15375.823510,59,BAT5341619,10.523767,A,A2,RENT,...,2.469688,0.959162,0,INDIVIDUAL,21,0,32,40842,7226,NaN
4,47771809,8878,9419,7176.647582,58,BAT4694572,9.997013,C,B3,OWN,...,2.127835,0.402315,0,INDIVIDUAL,104,0,33,90825,26145,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28908,11537800,35000,35000,35000.000000,60,BAT5629144,16.240000,C,C5,MORTGAGE,...,0.000000,0.000000,0,INDIVIDUAL,109,0,0,883984,114000,NaN
28909,11538258,25000,25000,25000.000000,60,BAT5629144,14.980000,C,C3,MORTGAGE,...,0.000000,0.000000,0,INDIVIDUAL,104,0,0,513925,51800,NaN
28910,13147685,30000,30000,29950.000000,60,BAT2136391,18.240000,D,D5,MORTGAGE,...,0.000000,0.000000,1,INDIVIDUAL,83,0,0,296294,65600,NaN
28911,13917689,25000,25000,24950.000000,60,BAT2136391,15.610000,D,D1,MORTGAGE,...,0.000000,0.000000,0,INDIVIDUAL,83,0,0,428723,30400,NaN
28912,10763026,24925,24925,24925.000000,60,BAT2575549,14.300000,C,C1,MORTGAGE,...,0.000000,0.000000,0,INDIVIDUAL,109,0,0,283758,62900,NaN

## Detalle de nuestros datos

* Monto del préstamo: monto del préstamo aplicado
* Monto financiado: monto del préstamo financiado
* Monto financiado Inversionista: monto del préstamo aprobado por los inversionistas
* Plazo: plazo del préstamo (en meses)
* Lote inscrito: números de lote para los representantes
* Tasa de interés: tasa de interés (%) en préstamo
* Grado: grado por el banco
* Subgrado: subgrado por el banco
* Débito a ingresos: proporción del pago total de la deuda mensual del representante dividido por el ingreso mensual autoinformado, excluyendo la hipoteca
* Morosidad dos años: cantidad de más de 30 días de morosidad en los últimos 2 años
* Consultas seis meses: número total de consultas en los últimos 6 meses
* Cuenta abierta: número de línea de crédito abierta en la línea de crédito del representante
* Public Record: número de registros públicos despectivos
* Saldo Rotativo: saldo rotativo total de crédito
* Utilidades Rotativas: cantidad de crédito que usa un representante - en relación con balance_revolvente
* Cuentas totales: número total de líneas de crédito disponibles en - línea de crédito de representantes
* Estado de lista inicial: estado de listado único del préstamo - - W (Esperando), F (Reenviado)
* Interés Total Recibido: interés total recibido hasta la fecha
* Cargo por pago atrasado total recibido: cargo por pago atrasado total recibido hasta la fecha
* Recuperaciones: cargo posterior a la recuperación bruta
* Tarifa de recuperación de cobro: cargo posterior a la tarifa de cobro
* Cobranza 12 meses Médico: total de cobranzas en los últimos 12 meses - excluyendo cobranzas médicas
* Tipo de solicitud: indica cuando el representante es individual o conjunto
* Pago de la semana pasada: indica cuánto tiempo (en semanas) un representante ha pagado EMI después de la inscripción del lote
* Cuentas en mora: número de cuentas en las que el representante está en mora
* Monto total de la colección: monto total de la colección adeudado alguna vez
* Saldo actual total: saldo actual total de todas las cuentas
* Límite de crédito rotativo total: límite de crédito rotativo total
* Estado del préstamo: 1 = morosos, 0 = no morosos

In [7]:
# Copiar Data Frame
df_datos = df_datos.copy()

In [ ]:

# Eliminar ultima columna la cual aun no utilizaremos
df_datos = df_datos.drop(columns = 'Loan Status' )
df_datos.head(5)

In [ ]:
# Filtrado de la base de datos
# Vamos a filtrar el monto del prestamo mayor a 10,000 y su tasa de interes mayor a 8%
monto_tasa = df_datos[(df_datos['Loan Amount'] > 10000) & (df_datos['Interest Rate']> 8)]
df_monto_tasa = pd.DataFrame(monto_tasa)
df_monto_tasa

In [ ]:
# Vamos a crear un subconjunto de datos obteniendo unicamente las Columnas "Monto del Prestamo", "Tasa de Interes", "Titulo del Prestmo", "Total de Intereses Recibidos"
sub_1 = df_monto_tasa[['Loan Amount', 'Interest Rate', 'Loan Title', 'Total Received Interest']]
df_sub_1 = pd.DataFrame(sub_1)
df_sub_1

In [25]:
# Vamos agrupar esta nueva data frame por Titulo del Prestamo, para saber cuantos hay de cada uno
grupo1 = df_sub_1.groupby(['Loan Title'])[['Loan Amount']].sum()
grupo1

                    Loan Amount
Loan Title
Bathroom                  38683
Bill Consolidation        45953
Bill Payoff               94137
Business                1389116
CC                        59876
...                         ...
payoff                   294955
personal                 242435
refi                     134089
relief                    32843
vacation                  40857

[105 rows x 1 columns]